.idea/
bin/*
log/*.log
#*.exe
example/taobao/image
example/helloworld/data/*.html
test/
data/
example/huaban/data/
vendor/github.com/go-xorm/*
example/practice/music/songs_dir
example/practice/pictures/picture
example/practice/upload/*.xxxx